<footer class="main-footer">
    <div class="sub-footer">
        <div class="footer-logo">
            <a href="/" class="main-header_home-link">
                <img src="/images/img-freresLogo.png">
            </a>
        </div>
        <div class="footer-details">
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com/freres.parfums">freres.parfums</a>
        </div>
    </div>
    <div class="footer-desc">
        <h2>Trabajo realizado por José Hansen, Martín Leon y Mateo Moragues.</h2>
    </div>
</footer>