<footer class="main-footer">
    <div class="col-5 col-md-2">
        <a href="/" class="main-header_home-link">
            <img src=""> <!-- Poner imagen del logo-->
        </a>
    </div>
    <div>
        <h2>Trabajo hecho por José, Martín y Mateo</h2>
    </div>
</footer>