<footer class="main-footer">
    <div class="sub-footer">
        <div class="footer-logo">
            <a href="/" class="main-header_home-link">
                <img src="/images/portada.jpg">
            </a>
        </div>
        <div class="footer-desc">
            <h2>Trabajo hecho por José Hansen, Martín Leon y Mateo Moragues.</h2>
        </div>
    </div>
</footer>