<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
</head>

<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img src="/images/img-freresLogo.png">
                </a>
            </div>

            <div class="col-7 col-md-6">
                <form action="/products/results" method="GET" class="search-form">
                    <input type="text" name="search" value="" placeholder="Buscar productos, marcas y m치s" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4">
                <a href='/' class="main-header_credit-link">
                    <i class="fas fa-hand-holding-usd"></i>
                    Todas las opiniones en un solo lugar.
                </a>
            </div>
        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Todos los productos</a></li>
                <li><a href="/products/add">Cargar productos</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/users/myProfile">
                      Mi usuario <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                        <form action="" method="post">
                            <button class="logout" type="submit">
                               <a href="/"> Cerrar sesi칩n <i class="fas fa-sign-in-alt"></i></a>
                            </button>
                        </form>
                </li>
                <!-- Solo deslogueado <li>
                    <a href="register.html">Cre치 tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>