<%- include('./partials/links') %>
<body>

    <%- include('./partials/header') %>

    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">
        
         <form action="/products/edit" method="POST"> 
            <div class="form-fields">
                <input type="number" name="idUsuario" value="" placeholder="Id del usuario" disabled >
                <input type="text" name="nombre" value="" placeholder="Nombre del producto">
                <!-- <input type="file" name="imagen" value="" placeholder="Imagen"> -->
                <input type="date" name="fechaPublicacion" value="" placeholder="Fecha de Publicación">
                <input type="text" name="marca" value="" placeholder="Marca">
                <input type="number" name="anio" value="" placeholder="Año">
                <input type="number" name="ml" value="" placeholder="Mililitros">
                <input type="text" name="descripcion" value="" placeholder="Descripción">

            </div>

            <button type="submit" class="form-button">
                Actualizar Datos
            </button>
            
        </form> 
    </section>
    <%- include('./partials/footer') %>
</body>
</html>