<%- include('./partials/links') %>
<body>
    <%- include('./partials/headerLogueado') %>

    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">
        
        <form action="/users/myprofile/1" method="GET">
            <div class="form-fields">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="date" placeholder="Fecha de nacimiento">
                <input type="number" placeholder="DNI">
                <input type="number" placeholder="Celular">
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Repetir Contraseña">                   
                     
            </div>

            <button type="submit" class="form-button">
                Enviar
            </button>
            
        </form>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>