<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <h1 class="form-title"><%= title%></h1>
    <section class="form-section">
        
        <form action="/" method="POST">
            <div class="form-fields">
                <input  name= "email" type="email" placeholder="E-mail">
                <input  name= "password" type="password" placeholder="Contraseña">
            </div>

            <button type="submit" class="form-button">
                Enviar
            </button>
            
        </form>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>