<%- include('./partials/links') %>
<%- include('./partials/header') %>

<body>
    
    <div class="page">
        <p>FRERES nació como un pequeño emprendimiento, en el año 2014, en la Ciudad Autónoma de Buenos Aires. Desde un principio, nuestra misión fue proveer perfumes de alta gama a un precio accesible. Hoy, ya son más de 10000 personas las que nos eligen y nos siguen eligiendo para ayudarlos a sortear el curioso mundo de los perfumes. Mediante nuestro lema, <i><b>¿Cuál es tu esencia?</b></i>, no solo nos referimos a qué fragancia saca lo mejor de vos, buscamos despertar tu verdadero yo, tu identidad, lo que te diferencia. En FRERES te ayudamos a encontrarlo.</p>
    </div>


</body>

<%- include('./partials/footer') %>