<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <h1><%= title %></h1>

    <h2>Lo siento, aún no tenemos el buscador operativo </h2>

    <%- include('./partials/footer') %>
</body>
</html>